* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    width: 800px;
    border: 1px solid rgba(128, 128, 128, 0.398);
    box-shadow: gray 10px;
    display: flex;

}

.role_selector {
    flex: 1;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.role_selector_title {
    width: 280px;
    color: rgba(255, 255, 255, 0.788);
    font-size: 22px;
}

.role_box {
    display: flex;
    align-items: center;
    width: 280px;
    height: 70px;
    /* background-color: #118CD9; */
    gap: 10px;
    cursor: pointer;
    user-select: none;
    padding-left: 20px;
}

.role_box:active {}

.form_input {
    flex: 1;
    padding: 40px 30px;
}

.form_input button {
    margin-top: 30px;
}

.login_icon {
    width: 40px;
    aspect-ratio: 1/1;
}

.login_role {
    color: rgb(225, 233, 238);
    font-size: 18px;
}

.form_input_title {
    margin-bottom: 20px;
}

.form_input_title>div:nth-child(1) {
    color: #3256EA;
    font-size: 24px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button,
select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form_field {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 10px;
}

.form_field label {
    font-size: 16px;
    color: gray;
    margin-bottom: 5px;
}

.form_field input {
    margin-bottom: 3px;
}

.form_field_error {
    margin: 0px;
    color: red;
    font-size: 14px;
    padding-left: 5px;
}

.form_input_footer {
    margin-top: 10px;
    text-align: center;
}

.form_input_footer a {
    color: rgba(36, 36, 230, 0.883);
    text-decoration: underline;
    cursor: pointer;
}

.form_input_footer a:hover {
    color: blue;
}

.errormsg_from_be {
    margin-bottom: -15px;
    color: rgba(225, 6, 6, 0.835);
}