<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="./stylesheets/login.css">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="login_form">
            <div class="role_selector">
                <div class="role_selector_title">
                    Select Sign up roler
                </div>
                <div class="role_box" v-on:click="changeRole('user')"
                    :style="{ backgroundColor: role === 'user' ? 'rgba(35, 50, 212, 0.188)' : ''}">
                    <img src="/image/icons/user.png" class="login_icon" />
                    <div class="login_role">
                        Sign up as user
                    </div>
                </div>
                <div class="role_box" v-on:click="changeRole('manager')"
                    :style="{ backgroundColor: role === 'manager' ? 'rgba(35, 50, 212, 0.188)' : ''}">
                    <img src="/image/icons/organization.png" class="login_icon" />
                    <div class="login_role">
                        Sign up as manager
                    </div>
                </div>
            </div>
            <div class="form_input">
                <div class="form_input_title">
                    <div>
                        Volunteer Organiztion
                    </div>
                    <div>
                        Sign up as {{ role }}
                    </div>
                </div>
                <form id="loginForm">
                    <div class="form_field">
                        <label for="email">* Email</label>
                        <input type="email" id="email" placeholder="Email" v-model="email">
                        <p class="form_field_error" v-if="errors.email">{{errors.email}}</p>
                    </div>
                    <div class="form_field">
                        <label for="password">* Password</label>
                        <input type="password" id="password" placeholder="Password" v-model="passWord">
                        <p class="form_field_error" v-if="errors?.email">{{errors.passWord}}</p>
                    </div>
                    <div class="form_field">
                        <label for="cpassword">* Confirm Password</label>
                        <input type="password" id="cpassword" placeholder="Confirm Password" v-model="cpassWord">
                        <p class="form_field_error" v-if="errors?.cpassWord">{{errors.cpassWord}}</p>
                    </div>
                    <div class="form_field">
                        <label for="name">* Name</label>
                        <input type="text" id="name" placeholder="Name" v-model="name">
                        <p class="form_field_error" v-if="errors?.name">{{errors.name}}</p>
                    </div>
                    <div class="form_field">
                        <label for="number">Phone Number</label>
                        <input type="text" id="number" placeholder="Phone Number" v-model="phoneNumber">
                    </div>
                    <div class="form_field" v-if="role==='manager'">
                        <label for="select">Select an organization:</label>
                        <select v-model="orgId" id="select">
                            <option v-for="organization in organizationList" :key="organization.name"
                                :value="organization.id">{{organization.name}}</option>
                            <!-- <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option> -->
                        </select>
                        <p class="form_field_error" v-if="errors?.orgId">{{errors.orgId}}</p>
                    </div>
                    <div class="errormsg_from_be" v-if="errorMsgFromBE">
                        {{errorMsgFromBE}}
                    </div>
                    <button type="submit" @click="checkForm">Sign up</button>
                </form>
                <div class="form_input_footer">
                    Already have an account <a href="/login">Log in</a>
                </div>
            </div>
        </div>
    </div>
    <script src="./javascript/signup.js"></script>
</body>

</html>